#champion-section {
  display: flex;
  background-image: url("./images/Riot-Games-API-Developer-Assets-master/misc-backgrounds/arambg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  height: 82vh;
}

#about-section {
  display: flex;
  background-image: url("./images/Riot-Games-API-Developer-Assets-master/misc-backgrounds/arambg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  height: 92vh;
}

#about-page {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5%;
  color: white;
}

#image-size-text {
  margin-bottom: 0px;
}

#navbar {
  height: 8vh;
}

#sorting-bar {
  padding: 10px;
  height: 10vh;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  #sorting-bar {
    height: 20vh;
  }
  #title {
    font-size: 0px;
  }
  #title:first-letter {
    font-size: 32px;
  }
  #about-page {
    width: 100%;
  }
  #champion-section {
    height: 71.87vh;
  }
}

.checkboxes {
  margin-right: 5px;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.page_split {
  max-width: 48%;
  min-width: 48%;
  margin: 1%;
  max-height: 880px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
